body {
    background-color: rgb(81, 80, 80);
    display: flex;
    flex-direction: column;

    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

#startBtn {
    width: 250px;
    margin: auto;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}

#startBtn:hover{
    background-color: rgb(102, 239, 102);
    color: beige;
    cursor: pointer;
}

#countDown {
  color: bisque;
  font-size: 3em;

}

#img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}



.card img {
    width: 200px;
    height: 200px;
}


.backSide {
  display: none;
  cursor: pointer;
}

.posAbsolute {
  position: absolute;
}

.posRelative {
    position: relative;
}

.winBefor {
  opacity: 0;
  z-index : -1;
}

  @keyframes flipToFront {
    from {
      transform: rotateY(180deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes flipToBack {
    from {
      transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
  }

  @keyframes fadeToZero {
    from {
      opacity: 1;
    }
    to {
        opacity: 0;
    }
  }

  @keyframes fadeToOne {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
  }



  .flippToFront {
    animation: flipToFront 0.7s forwards;
  }
  
  .flippToBack {
    animation: flipToBack 0.7s forwards;
  }

  .fadeToZero {
    animation: fadeToZero 0.7s forwards;
  }

  .fadeToOne {
    animation: fadeToOne 0.7s forwards;
  }

  
  @media (max-width: 768px) {
    #img-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .card img {
      width:  60px;
      height: 60px;
    }

    #win {
      transform: translateY(-350px) scale(.5);
    }
  }

  @media (min-width: 768px) {
    #img-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .card img {
      width: 150px;
      height: 150px;
    }
    #win {
      transform: translateY(-500px);
    }
  }
  
  @media (min-width: 1200px) {
    #img-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .card img {
      width: 200px;
      height: 200px;
    }
    #win {
      transform: translateY(-700px);
    }
  }
  
  @media (min-width: 1600px) {
    #img-container {
        grid-template-columns: repeat(8, 1fr);
    }
    #win {
      transform: translateY(-400px);
    }
  }